:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --main-color1: #AECB5E;
  --main-color2: #0BCBB1;
}

.hidden {
  display: none;
}

.container {
  width: 90%;
  height: auto;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  .PageTitle {
    width: 100%;
    border: 3px;
    font-weight: bold;
    margin-top: 50px;

    .landingTitle {
      text-align: center;
      margin-bottom: 25px;

      .header {
        font-size: 2rem;
        margin-bottom: 1rem;

        color: var(--main-color2)
      }

      .sub-header {
        font-size: 1.8rem;

        color: var(--main-color2)
      }
    }
  }

  .PageContent {
    margin: auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    @media screen and (max-width: 768px) {
      max-width: 700px;

      flex-direction: column;
      align-items: center;
    }

    .character {
      &-frame {
        width: fit-content;
        height: fit-content;
        border: 2px solid var(--main-color1);
        border-radius: 20px;

        position: sticky;
        top: 100px;

        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width:768px) {
          position: relative;
          margin-bottom: 30px;
          top: 0;
        }
      }
    }

    .Custom-char {
      max-width: 705px;
      height: 100%;

      .Custom-part {
        max-width: inherit;
        text-align: center;

        .title {
          font-size: 32px;
          margin: 5px 0 15px;
          text-transform: capitalize;
          color: var(--main-color2)
        }

        .Img-wrapper {
          display: flex;
          flex-wrap: wrap;
          padding: 12px;
          border-radius: 20px;
          border: 2px solid var(--main-color1);
          margin-bottom: 35px;

          img {
            top: 35px;
            left: 50%;
            position: absolute;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }

          .layer_1,
          .layer_2,
          .layer_3 {
            top: 20px;
          }

          @media screen and (max-width:425px) {
            justify-content: center;
          }
        }
      }

      @media screen and (max-width:1024px) {
        max-width: 450px;
      }

      @media screen and (max-width:768px) {
        max-width: 400px;
      }
    }
  }

  .btn {
    &-create {
      width: 200px;
      height: 50px;
      margin: 20px 0;

      border-radius: 10px;
      border: 0.5px solid transparent;

      background: var(--main-color1);
      background: -moz-linear-gradient(45deg, var(--main-color1) 0%, var(--main-color2) 100%);
      background: -webkit-linear-gradient(45deg, var(--main-color1) 0%, var(--main-color2) 100%);
      background: linear-gradient(45deg, var(--main-color1) 0%, var(--main-color2) 100%);

      font-weight: bold;
      color: whitesmoke;

      &:active {
        box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.1)
      }
    }

    &-img {
      margin: 5px;
      border-radius: 10px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
      height: 50px;
      overflow: hidden;
      position: relative;
      width: 50px;
      background-color: #fff;

      &.active {
        background-color: #bde2dd;
      }

      &:hover {
        background-color: #bde2dd;
        transition: 0.5s;
      }
    }
  }
}